:root {
  --font-family-sans-serif: "Lato", helvetica, arial, sans-serif;
  --color-primary: #632aa7;
  --color-hover: #4a1f7d;
  --color-primary-light: #b194d3;
  --color-yellow: #ffe916;
  --color-light-yellow: #fff48a;
  --color-off-white: #fffce7;
  --color-success: #268743;
  --color-danger: #d52a1e;
  --border-button-size: 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

body {
  background-color: #1b0b2e;
  font-family: var(--font-family-sans-serif);
}

button[class*="confirm--"] {
  border-radius: var(--border-button-size);
  color: var(--color-yellow) !important;
}

button[class*="confirm--"]:hover {
  background-color: var(--color-hover) !important;
  color: var(--color-white) !important;
}

div[class*="userlistPad--"] {
  border-right: 1px solid var(--color-gray-lighter);
}

div[class*="active--"][class*="chatListItem--"] {
  background-color: var(--color-light-yellow);
  box-shadow: inset 0 0 0 var(--border-size) var(--color-yellow), inset 1px 0 0 1px var(--color-yellow);
}

div[class*="usertListItemWithMenu--"] {
  background-color: var(--color-light-yellow);
  box-shadow: inset 0 0 0 var(--border-size) var(--color-yellow), inset 1px 0 0 1px var(--color-yellow);
}

div[role="button"][class*="chatListItem--"]:hover {
  background-color: var(--color-light-yellow);
  box-shadow: none;
}

div[class*="userListItem--"]:hover {
  background-color: var(--color-light-yellow);
  box-shadow: none;
}

div[role="button"][class*="listItem--"]:hover {
  background-color: var(--color-light-yellow);
  box-shadow: none;
}

span[class*="primary--"] {
  color: var(--color-yellow);
}

div[class*="listItem--"] .icon-bbb-copy {
  color: var(--color-primary);
}

div[class*="chatThumbnail--"] {
  color: var(--color-primary);
}

textarea[class*="input--"]:focus {
  box-shadow: 0 0 0 var(--border-size) var(--color-primary-light), inset 0 0 0 1px var(--color-primary);
}

div[class*="bottom--"] {
  display: none;
}

header[class*="navbar--"],
div[class*="navbar--"] {
  height: auto;
}
