:root {
  --font-family-sans-serif: "Lato", helvetica, arial, sans-serif;
  --color-primary: #632aa7;
  --color-hover: #4a1f7d;
  --color-yellow: #ffe916;
  --color-light-yellow: #fff48a;
  --color-off-white: #fffce7;
  --border-button-size: 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: var(--font-family-sans-serif);
}

button[class*="confirm--"] {
  border-radius: var(--border-button-size);
  color: var(--color-yellow) !important;
}

button[class*="confirm--"]:hover {
  background-color: var(--color-hover) !important;
  color: var(--color-white) !important;
}

div[class*="userlistPad--"] {
  border-right: 1px solid var(--color-gray-lighter);
}

div[class*="active--"][class*="chatListItem--"] {
  background-color: var(--color-light-yellow);
  box-shadow: none;
}

div[role="button"][class*="listItem--"] {
  background-color: var(--color-light-yellow);
  box-shadow: none;
}

div[class*="active--"][class*="chatListItem--"]:hover {
  background-color: var(--color-yellow);
}

div[role="button"][class*="listItem--"]:hover {
  background-color: var(--color-yellow);
  box-shadow: none;
}

span[class*="primary--"] {
  color: var(--color-yellow);
}

div[class*="chatThumbnail--"] {
  color: var(--color-primary);
}
